body{
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden
}
nav{
  height: 80px;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 100;
  background-color: rgba(5,7,16, .8)
}
.logo{
	margin: 0 10px;
}
.shapka{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav{
	padding: 0;
	margin: 0;
}
.main-nav li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}
.main-nav li:last-child{
	margin-right: 0;
}
.main-nav li a{
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	position: relative;
}
.main-nav li a:before{
	content: '';
	width: 0%;
	height: 2px;
	background-color: #6100FF;
	position: absolute;
	left: 0;
	bottom: -2px;
	transition: all .3s ease;
}
.main-nav .active-page a:before{
	width: 100%;
}
.lang button{
	border: none;
	background-color: transparent;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
.lang button.active-lang{
	border-bottom: 2px #6100FF solid;
}
.get-contact{
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	background-color: #6100FF;
	border: none;
	padding: 15px 30px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	transition: all .2s ease;
}
.get-contact span{
	position: relative;
}
.get-contact:before{
	content:'';
	z-index: 0;
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #fff;
	left: 0;
	top: 0;
	transition: all .3s ease;
}.get-contact:hover{
	color: #050710;
}
.get-contact:hover::before{
	width: 100%;
}


#main{
	height: 100vh;
	/*background-image: url(../img/mainbg.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	position: relative;
	overflow:hidden;
}
.bg-space{
	position: absolute;
	z-index: -1;
	width: 110vw;
	height: 110vh;
}
#main .container{
	height: 100%;
}
#main .row{
	height: 100%;
	display: flex;
	align-items: center;
}
h1{
	color: #fff;
	font-weight: 800;
	font-size: 92px;
}
span.violetter{
	color: #6100FF;
/*	text-shadow: 0px 4px 23px rgba(0, 0, 0, 0.72);*/
}
.planet{
	position: relative;
}
.planet-img{
	width: 70%;
}
.orion1{
	position: absolute;
	top: -21%;
	left: 0;
	width: 100%;
	-webkit-animation: helo 120s infinite reverse linear;
    animation: helo 120s infinite reverse linear;
}
.orion2{
	position: absolute;
	left: 10%;
	top: -8%;
	width: 80%;
}
h2{
	font-size: 65px;
	font-weight: 800;
	color: #050710;
	margin-bottom: 40px;
}
#about{
	padding: 120px 0;
}
.black-txt{
	font-size: 18px;
	color: #050710;
	font-weight: 400;
	margin-bottom: 40px;
}
.main-btn{
	background-color: #6100FF;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	border:none;
	border-radius: 5px;
	padding: 22px 70px;
	position: relative;
	overflow: hidden;
}
.main-btn span{
	position: relative;
}
.main-btn:before{
	content:'';
	z-index: 0;
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #050710;
	left: 0;
	top: 0;
	transition: all .3s ease;
}
.main-btn:hover::before{
	width: 100%;
}
#services{
	padding: 120px 0;
	background-image: url(../img/mainbg.png);
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.white-txt{
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}
.read-more{
	font-size: 18px;
	color: #fff;
	border: none;
	background-color: transparent;
	font-weight: 600;
	text-align: left;
	padding: 0;
	position:absolute;
	bottom: 20px;
	left: 20px;
}
.read-more img{
	margin-left: 20px;
	transform: translateY(-1px);
	transition: all .3s ease;
}
.read-more:hover img{
	margin-left: 40px;
}
#cases{
	padding: 120px 0;
	position: relative;
	overflow: hidden;
}
.case-row{
	margin-bottom: 70px;
}
footer{
	padding: 80px 0 30px 0;
	background-image: url(../img/footerbg.jpg);
	background-position: center bottom; 
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	position:relative;
}
h5{
	font-size: 35px;
	color: #fff;
	font-weight: 700;
}
.progress-bar{
	position: fixed;
	z-index: 100;
	top: 0;
	left:0;
	height: 4px;
	background-color: #6100ff;
	width: 50%;
	z-index: 101;
	transition: all 0.2s ease;
}
.icon-circle{
	background-color: #6100FF;
	border-radius: 50px;
	height: 75px;
	width: 75px;
	position: absolute;
	top: -38px;
	left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon-circle img{
	width: 35px;
	height: 35px;
}
.contacts{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.contacts img{
	margin-right: 10px;
	transform:translateY(-2px);
}
.contacts a{
	color: #fff;
	font-size: 16px!important; 
	transition: all .3s ease;
	margin-right: 12px;
}
.follow-us{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.overhidden{
	overflow: hidden;
}
.preo{
  position: fixed;
  z-index: 10000;
  background-color: red;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.backstage-img{
	margin-bottom: 20px;
	width: 100%;
}

@keyframes caseheigh {
	from{
		padding: 0px;
		height: 0%;
	}
	to{
		padding: 20px;
		height: 100%;
	}
}

@keyframes zoomout {
	from{
		opacity: 0;
		transform: scale(1.1);
	}
	to{
		opacity: 1;
		transform: scale(1);
	}
}

/**/


.case-over{
	height: 340px;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}
.case-card{
	background-color: #05070f;
	overflow:hidden;
	padding: 0;
	height: 0;
	animation:caseheigh .5s forwards;
	transition: all .3s ease;
}
.case-img{
	width: 100%;
	height: 300px;
	border-radius: 5px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	animation: zoomout .5s forwards;
	transition: all .3s ease;
	opacity: 0;
	transform: scale(1.1);
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo-case{
	z-index: 10;
	transform: translateZ(50px);
}
.black-txt{
	font-size: 16px;
	margin-bottom: 20px;
}
.case-sphere{
	margin-bottom: 0;
	color: #6100FF;
	font-size: 22px;
	font-weight: 400;
}
h3{
	font-size: 45px;
	color: #050710;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 0;
}
.hastags{
	display: flex;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;
}
.hash{
	color: #050710;
	font-size: 16px;
	font-weight: 700;
	padding: 5px 10px;
	background-color: #E2E7E5;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.hash span{
	color: #6100FF;
}


.filter-cases{
	display: flex;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;
}
.glitch img{
	animation: 1s myshake infinite;
}
@keyframes myshake{
	0% {
	    transform: skewX(-15deg);
	}
	5% {
	    transform: skewX(15deg);
	}
	10% {
	    transform: skewX(-15deg);
	}
	15% {
	    transform: skewX(15deg);
	}
	20% {
	    transform: skewX(0deg);
	}
	100% {
	    transform: skewX(0deg);
	}
}



.swiper-pagination-bullet{
	background-color: #ffffff!important;
}
.swiper-pagination-bullet-active{
	background-color: #6100ff!important;
}



.what-do{
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}
.what-do p{
	width: 50%;
	font-size: 16px;
}
.what-do p img{
	margin-right: 15px;
}
.serv-image{
	border-radius: 10px;
	width: 100%;
}
.slider2{
	margin-top: -135px;
}
#contacts{
	/*height: 760px;*/
	padding: 200px 0;
	position:relative;
}




/*ADAPTIIIIIIIIIV*/


@media (max-width: 1199px) {
	.slider2{
		margin-top:0;
	}
}
@media (max-width: 991px) {
	
}
@media (max-width: 786px) {
/*	#services{
		background-attachment: scroll;
	}
	footer{
		background-attachment: scroll;
	}*/
}
@media (max-width: 767px) {
 	
}
@media (max-width: 672px) {
	
}
@media (max-width: 512px) {
	#contacts{
		height: inherit;
	}
	.slider2{
		margin-top: 0;
	}
	.filter-cases{
		display: flex;
		overflow:scroll;
		flex-wrap: nowrap;
	}
	.devider{
		display: none!important;
	}
	.pop-box {
		width: 100%!important;
	}
	.contacts{
		margin-bottom: 20px;
		justify-content: left!important;
	}
	.contacts a{
		margin-bottom: 5px;
	}
	.follow-us{
		margin-bottom: 20px;
	}
	#main{
		background-image: url(../img/mainbg.png);
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	#main .row{
		display: block;
	}
	#main h1{
		text-align: center;
		
		margin:0;
	}
	#main .overhidden{
		margin-bottom: 30%;
		margin-top: 40%;
		height: 220px;
	}
	h1{
		font-size: 60px;
	}
	nav{
		position: fixed;
		top: 0;
		background-color: rgba(5,7,16,.7);
	}
	.backstage-img{
		width: 100%;
	}
	.what-do p{
		width: 100%;
		font-size: 18px;
	}

}
@media (max-width: 390px) {
	
}
@media (max-width: 320px) {
	
}





/* Remove outline on the forms and links */ 
:active, :hover, :focus { 
outline: 0; 
outline-offset: 0; 
}

button:active, button:hover, button:focus { 
outline: 0; 
outline-offset: 0; 
}


a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}


